.scan {
    background-color: #00000050;
    color: white;
    font-family: monospace;
    border-radius: 5px;
}
.scan:hover {
    background-color: #000000;
}
.popup {
    background-color: #00000070;
    color: white;
    
}

.popup .leaflet-popup-content-wrapper {
    background:#00000050;
    color:white;
    font-size:16px;
    line-height:24px;
    font-family: monospace;
    }
  .popup .leaflet-popup-content-wrapper a {
    color:#000000;
    }
.statgrid {
    grid-template-columns: 1;
}

.showme { 
   position: absolute;
   margin-bottom: 10vh ;
   font-size: 5px;
}

.search {
    position: fixed;
    display: flex;
    margin-top: 0vh;
    margin-bottom: 90vh;

    z-index: 999;
    height: auto;
    width: auto;
    background-color: black;
    color: white;

}

.stats {
    width: auto;
    height: auto;
    position: fixed;
    margin-top: 10vh;
    margin-bottom: auto;
    z-index: 999;
    background-color: #000000d0;
}

